<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기부 조회</title>
        <link
            rel="stylesheet"
            href="../../static/css/donation/donation-inquiry.css"
        />
    </head>
    <body>
        <div class="ipErwZ content">
            <div class="thumbnail-background" style="position: relative">
                <div class="gWteaU backgrounds">
                    <div
                        class="slick-slider thumbnail-background-slider slick-initialized"
                    >
                        <div class="slick-list">
                            <div
                                class="slick-track"
                                style="width: 1903px; opacity: 1"
                            >
                                <div
                                    data-index="0"
                                    class="slick-slide slick-active slick-current"
                                    tabindex="-1"
                                    aria-hidden="false"
                                    style="
                                        outline: none;
                                        width: 1903px;
                                        position: relative;
                                        left: 0px;
                                        opacity: 1;
                                        transition: opacity 500ms,
                                            visibility 500ms;
                                    "
                                >
                                    <div>
                                        <div
                                            tabindex="-1"
                                            class="iTISUA"
                                            style="
                                                width: 100%;
                                                display: inline-block;
                                            "
                                        ></div>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        tabindex="-1"
                                        class="iTISUA"
                                        style="
                                            width: 100%;
                                            display: inline-block;
                                        "
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow"></div>
                </div>
                <main class="emcwoE">
                    <section class="cMGMYw">
                        <section class="main-info">
                            <section class="left">
                                <div class="bmIvil">
                                    <div
                                        class="main-thumbnail-slider-container"
                                    >
                                        <div
                                            class="main-thumbnail-slider"
                                            width="100%"
                                        >
                                            <div>
                                                <div class="observer"></div>
                                                <img
                                                    src="https://cdn-dantats.stunning.kr/prod/portfolios/392c3bf2-da4c-4128-a5fc-79951fd565aa/covers/nLf7dPQ2YQQbDZzf.s1.jpg.small?s=998x998&amp;e=1x1&amp;t=crop&amp;q=80&amp;f=webp"
                                                    alt="큰나무이비인후과 로고 콘테스트 우승작 이미지 1"
                                                    format="webp"
                                                    style="
                                                        width: 570px;
                                                        height: 570px;
                                                    "
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </section>
                        <div class="crkeru tab-wrapper">
                            <div class="hMwtdV tabs">
                                <div class="active tab">내용</div>
                                <div class="tab">
                                    댓글<label class="frNqBn">2</label>
                                </div>
                            </div>
                        </div>
                        <div class="kqKmnY">
                            <section class="content-container">
                                <section class="bnwsRn">
                                    <div class="budRws row-title">
                                        한 줄 소개
                                    </div>
                                    <div class="IgWa-D row-content">
                                        신규로 개원하는 이비인후과 입니다.
                                        어지러움 검사(달팽이관), 코 수술(코끼리)
                                        등의 전문진료를 표방하는 이비인후과를
                                        추구합니다. 춘천
                                        큰나무이비인후과(본원)에서 사용한 로고가
                                        있으나 이와 유사하게 또는 개선된
                                        방향으로 새로이 로고를 제작하려고
                                        합니다.
                                    </div>
                                </section>
                            </section>
                            <section class="eydkOh">
                                <div class="budRws row-title">로고명</div>
                                <div class="IgWa-D row-content">
                                    큰나무이비인후과
                                </div>
                            </section>
                            <section class="eydkOh">
                                <div class="budRws row-title">브리핑</div>
                                <div class="IgWa-D row-content">
                                    <body>
                                        <div>
                                            <p>
                                                파주에 신규로 개원하는
                                                이비인후과 입니다. 어지러움
                                                진료(달팽이관), 코 수술(코끼리)
                                                등의 전문진료를 표방하는
                                                이비인후과를 추구합니다. 춘천
                                                큰나무이비인후과(본원)에서
                                                사용한 로고가 있어 아래에
                                                첨부합니다. 이와 유사하게 또는
                                                개선된 방향으로 새로이 제작
                                                부탁드립니다.
                                            </p>
                                            <p><br /></p>
                                            <p>
                                                *브랜드 의미 : 큰나무(신뢰,
                                                휴식)의 이미지가 강조된
                                                이비인후과 이며, 어지러움
                                                진료(달팽이), 코 수술(코끼리)의
                                                이미지를 동시에 표현하려고
                                                합니다.<br />*선호 이미지 :
                                                업로드 된 춘천 큰나무이비인후과
                                                본원의 이미지와 큰 틀에서는
                                                유사했으면 좋겠습니다. 색상,
                                                글꼴 등의 디테일은 변형
                                                가능합니다.<br />*표현하고 싶은
                                                컨셉 : 귀와 코 전문 진료가
                                                가능한 전문 이비인후과 의원<br />*피하고
                                                싶은 스타일 : 너무 복잡하거나
                                                한눈에 알아보기 어려운 이미지는
                                                지양합니다.
                                            </p>
                                            <p><br /></p>
                                            <p>
                                                <br /><img
                                                    src="https://cdn-dantats.stunning.kr/prod/contest/de56377e-3288-4254-83e2-1ed3d14ba51c/briefingcontents/emLoA2eZLMHsrPWj.1725933473451-0.jpg"
                                                    alt="emLoA2eZLMHsrPWj.1725933473451-0.jpg"
                                                />
                                            </p>
                                            <p>
                                                <img
                                                    src="https://cdn-dantats.stunning.kr/prod/contest/de56377e-3288-4254-83e2-1ed3d14ba51c/briefingcontents/HNSdX7AK9ZoMg5cb.1725938690846%20-%20%EB%B3%B5%EC%82%AC%EB%B3%B8.jpg"
                                                />
                                            </p>
                                            <p></p>
                                        </div>
                                    </body>
                                </div>
                            </section>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
    <script src="../../static/js/donation/donation-inquiry.js"></script>
</html>
