<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기부 페이지 - 목록</title>
        <link
            rel="stylesheet"
            href="../../static/css/donation/donation-list.css"
        />
    </head>
    <body>
        <div class="main-container content">
            <main class="section-container">
                <section>
                    <aside class="status-wrap">
                        <div
                            id="contest-list-aside-state"
                            class="accordion-container contest-list-filters"
                            type="box"
                        >
                            <div class="accordion accordion-title" width="0">
                                상태
                                <div class="open-button">
                                    <div class="status-svg-container">
                                        <div
                                            height="12"
                                            color="#101c33"
                                            direction="right"
                                            class="status-svg"
                                        >
                                            <svg
                                                width="12"
                                                height="12"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <g
                                                    fill="none"
                                                    fill-rule="evenodd"
                                                >
                                                    <path
                                                        d="M12 0H0v12h12z"
                                                    ></path>
                                                    <path
                                                        d="M3.689 11a.65.65 0 00.448-.174l4.68-4.389a.561.561 0 00-.001-.83L4.08 1.174a.664.664 0 00-.894-.003.56.56 0 00-.002.832l4.294 4.02L3.24 9.996a.56.56 0 00.004.832.653.653 0 00.444.171"
                                                        fill="#101C33"
                                                    ></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-description active"
                                style="height: 129px"
                            >
                                <div>
                                    <div class="description">
                                        <div
                                            class="status-radio-container contest-list-state"
                                        >
                                            <label
                                                for="radio-input-Recruit"
                                                class="active"
                                                ><input
                                                    readonly=""
                                                    type="radio"
                                                    id="radio-input-Recruit"
                                                    value="Recruit"
                                                />
                                                <div
                                                    class="radio-input-button"
                                                ></div>
                                                <div class="radio-input-label">
                                                    모집중
                                                </div></label
                                            ><label for="radio-input-End"
                                                ><input
                                                    readonly=""
                                                    type="radio"
                                                    id="radio-input-End"
                                                    value="End"
                                                />
                                                <div
                                                    class="radio-input-button"
                                                ></div>
                                                <div class="radio-input-label">
                                                    종료
                                                </div></label
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="write-introduce">
                                <div class="title">편하게 작성하세요!</div>
                                <div class="desc">
                                    사소한 도움이라도 괜찮아요. 우리가 나누는
                                    작은 마음들이 모여 더 큰 기적을 만듭니다.
                                </div>
                                <button class="write-button">
                                    <span class="visual-correction"
                                        >작성하기</span
                                    >
                                </button>
                            </div>
                        </div>
                        <div
                            width="100%"
                            height="32px"
                            class="list-divider"
                        ></div>
                    </aside>
                    <div class="list-wrapper">
                        <section>
                            <div class="filter-container">
                                <div class="action-filter">
                                    <div class="right-filter-container">
                                        <div class="right-filter">
                                            <div class="header-wrap">
                                                <div class="wrap-title"></div>
                                                <input
                                                    type="text"
                                                    readonly=""
                                                    value="추천순"
                                                /><svg
                                                    class="icon-filter-arrow arrow"
                                                    viewBox="0 0 12 12"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M3.68888 11.0004C3.85188 11.0004 4.01388 10.9424 4.13688 10.8264L8.81688 6.43738C9.06088 6.20738 9.06088 5.83638 8.81588 5.60738L4.07988 1.17438C3.83288 0.942377 3.43288 0.942377 3.18588 1.17138C2.93888 1.40038 2.93788 1.77238 3.18388 2.00338L7.47788 6.02238L3.24088 9.99738C2.99588 10.2294 2.99688 10.6014 3.24488 10.8294C3.36788 10.9434 3.52888 11.0004 3.68888 11.0004Z"
                                                    ></path>
                                                    <defs></defs>
                                                </svg>
                                            </div>
                                            <div class="bottom-wrap">
                                                <div
                                                    width="100%"
                                                    height="8px"
                                                    class="bottom-drop-down"
                                                ></div>
                                                <div class="list-wrap">
                                                    <div class="item active">
                                                        최신등록순
                                                    </div>

                                                    <div class="item">
                                                        조회순
                                                    </div>
                                                    <div class="item">
                                                        마감임박순
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <article class="ul-container">
                            <ul>
                                <li>
                                    <a
                                        href="/contest/view/149724/brief"
                                        class="donation-list-a"
                                        ><div class="contest-info">
                                            <div class="contest-info-top">
                                                <div class="outline-info">
                                                    <div
                                                        class="outline-info-category"
                                                    >
                                                        <label
                                                            class="deadline state active"
                                                            >18일 남음</label
                                                        >기타<span
                                                        ></span>일반/기타
                                                    </div>
                                                    <div
                                                        class="outline-info-title"
                                                    >
                                                        <h2>
                                                            제 2회 하나카드
                                                            plate 디자인 공모전
                                                        </h2>
                                                    </div>
                                                    <div
                                                        class="outline-info-companyDesc"
                                                    >
                                                        하나카드는 1978년
                                                        대한민국 최초로
                                                        신용카드를 만든 금융
                                                        회사로, 2014년
                                                        '하나SK카드'와
                                                        '외환카드'가 통합하여,
                                                        모바일, 디지털 분야는
                                                        물론, 글로벌 시장에서도
                                                        뛰어난 성과를 내고
                                                        있습니다. 트래블로그
                                                        카드, JADE(제이드) 카드,
                                                        원더시리즈 상품을
                                                        출시하였으며, 스마트한
                                                        라이프를 선도하는
                                                        금융사로 발돋음하고
                                                        있습니다.
                                                    </div>
                                                </div>
                                                <div class="bookmark">
                                                    <button class="cvGdFw">
                                                        <svg
                                                            type="bookmark24"
                                                            viewBox="0 0 24 24"
                                                        >
                                                            <path
                                                                d="M4.5 5C4.5 4.17157 5.17157 3.5 6 3.5H18C18.8284 3.5 19.5 4.17157 19.5 5V19.3447C19.5 20.5302 18.1896 21.2472 17.1912 20.608L13.348 18.1474C12.5263 17.6213 11.4737 17.6213 10.652 18.1474L6.8088 20.608C5.8104 21.2472 4.5 20.5302 4.5 19.3447V5Z"
                                                            ></path>
                                                            <defs></defs>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="contest-info-bottom">
                                                <div
                                                    class="profile-image-wrap"
                                                    style="
                                                        width: 20px;
                                                        height: 20px;
                                                        cursor: default;
                                                    "
                                                >
                                                    <img
                                                        class="profile-image"
                                                        alt="profile-image"
                                                        src="https://cdn-dantats.stunning.kr/prod/users/8aca0f63-1d3b-4e6d-a3ec-4404690b63e4/avatar/fvBZSrehSed7XvGb.%E1%84%92%E1%85%A1%E1%84%82%E1%85%A1%E1%84%8F%E1%85%A1%E1%84%83%E1%85%B3%20CI.png.small?q=100&amp;t=crop&amp;s=40x40&amp;f=webp"
                                                        style="
                                                            width: 20px;
                                                            height: 20px;
                                                            border-radius: 50%;
                                                            object-fit: cover;
                                                        "
                                                    />
                                                </div>
                                                <div
                                                    class="contest-info-bottom-user-nick"
                                                >
                                                    하나카드
                                                </div>
                                                <div
                                                    class="contest-info-bottom-view-icon"
                                                >
                                                    <svg
                                                        type="eye16"
                                                        color="#8E94A0"
                                                        viewBox="0 0 16 16"
                                                        class="trophy-svg"
                                                    >
                                                        <path
                                                            d="M9.99999 8.00001C9.99999 9.10458 9.10456 10 7.99999 10C6.89542 10 5.99999 9.10458 5.99999 8.00001C5.99999 6.89544 6.89542 6.00001 7.99999 6.00001C9.10456 6.00001 9.99999 6.89544 9.99999 8.00001Z"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                        <path
                                                            d="M8.00028 3.33334C5.0152 3.33334 2.48834 5.29526 1.63882 7.99999C2.48833 10.7047 5.01519 12.6667 8.0003 12.6667C10.9854 12.6667 13.5122 10.7048 14.3618 8.00003C13.5123 5.29529 10.9854 3.33334 8.00028 3.33334Z"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                        <defs></defs>
                                                    </svg>
                                                </div>
                                                <div
                                                    class="contest-info-bottom-view-count"
                                                >
                                                    14,173
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="prize-info">
                                            <li class="prize-info-row">
                                                <div class="prize-info-row-key">
                                                    <svg
                                                        type="contest16"
                                                        color="#8E94A0"
                                                        viewBox="0 0 16 16"
                                                        class="trophy-svg"
                                                    >
                                                        <path
                                                            d="M8.10192 14.5629H4.95866C4.95866 11.6908 8.10192 11.7272 8.10192 11.7272V9.8596C4.71508 9.8596 4.59534 7.1023 4.59534 7.1023L4.23682 2H8.10192"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                        <path
                                                            d="M8.10193 14.5629H11.2452C11.2452 11.6908 8.10193 11.7272 8.10193 11.7272V9.8596C11.4881 9.8596 11.6078 7.1023 11.6078 7.1023L11.9663 2H8.10193"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                        <path
                                                            d="M4.68623 7.73717C2.83544 7.65737 2.20118 6.73757 2.05681 5.96687C1.80707 4.63127 2.40918 4.05797 3.30549 4.21617"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                        <path
                                                            d="M11.5037 7.73717C13.3538 7.65737 13.9887 6.73757 14.1331 5.96687C14.3828 4.63127 13.7807 4.05797 12.8837 4.21617"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                        <defs></defs>
                                                    </svg>
                                                    <span>총 상금</span>
                                                </div>
                                                <div
                                                    class="prize-info-row-label"
                                                >
                                                    1,600만원
                                                </div>
                                            </li>
                                            <li class="prize-info-row">
                                                <div class="prize-info-row-key">
                                                    <svg
                                                        type="calendar12"
                                                        color="#8E94A0"
                                                        viewBox="0 0 12 12"
                                                        class="calendar-svg"
                                                    >
                                                        <rect
                                                            x="0.6"
                                                            y="2.6"
                                                            width="10.8"
                                                            height="8.8"
                                                            rx="1.4"
                                                            stroke-width="1.2"
                                                        ></rect>
                                                        <path
                                                            d="M3 2V1"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                        ></path>
                                                        <path
                                                            d="M9 2V1"
                                                            stroke-width="1.2"
                                                            stroke-linecap="round"
                                                        ></path>
                                                        <path
                                                            d="M1 5H12"
                                                            stroke-width="1.2"
                                                        ></path>
                                                        <rect
                                                            x="3"
                                                            y="7"
                                                            width="2"
                                                            height="2"
                                                            rx="0.5"
                                                        ></rect>
                                                        <defs></defs>
                                                    </svg>
                                                    <span>남은 기간</span>
                                                </div>
                                                <div
                                                    class="prize-info-row-label"
                                                >
                                                    18일
                                                </div>
                                            </li>
                                            <li class="prize-info-row">
                                                <div
                                                    class="prize-info-row-key"
                                                ></div>
                                                <div
                                                    class="prize-info-row-label"
                                                >
                                                    <div
                                                        class="prize-info-row-label-date"
                                                    >
                                                        24.09.13 ~ 24.10.31
                                                        (24시까지)
                                                    </div>
                                                </div>
                                            </li>
                                        </ul></a
                                    >
                                </li>
                            </ul>
                        </article>
                        <nav class="page-container paginator">
                            <a class="page-btn active">1</a
                            ><a class="page-btn">2</a><a class="page-btn">3</a
                            ><a class="page-btn">4</a><a class="page-btn">5</a
                            ><a class="page-btn">6</a><a class="page-btn">7</a
                            ><a class="page-btn">8</a><a class="page-btn">9</a
                            ><a class="page-btn">10</a
                            ><a class="page-btn next"
                                ><svg viewBox="0 0 12 12" class="icon-default">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M3.68888 11.0004C3.85188 11.0004 4.01388 10.9424 4.13688 10.8264L8.81688 6.43738C9.06088 6.20738 9.06088 5.83638 8.81588 5.60738L4.07988 1.17438C3.83288 0.942377 3.43288 0.942377 3.18588 1.17138C2.93888 1.40038 2.93788 1.77238 3.18388 2.00338L7.47788 6.02238L3.24088 9.99738C2.99588 10.2294 2.99688 10.6014 3.24488 10.8294C3.36788 10.9434 3.52888 11.0004 3.68888 11.0004Z"
                                    ></path>
                                    <defs></defs>
                                </svg>
                            </a>
                        </nav>
                    </div>
                </section>
            </main>
        </div>
    </body>
    <script src="../../static/js/donation/donation-list.js"></script>
</html>
