.ipErwZ {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}
body {
    color: #101c33;
    font-size: 14px;
}
body,
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    background-color: #fff;
    font: 12px / 18px "Noto Sans KR", NanumGothic, "나눔고딕", "Nanum Gothic",
        "맑은 고딕", "Malgun Gothic", Dotum;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    text-align: left;
    width: 100%;
}
.gWteaU {
    position: absolute;
    width: 100%;
    height: 400px;
}
.gWteaU .thumbnail-background-slider.slick-slider {
    height: 100%;
}
.slick-slider {
    box-sizing: border-box;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-y;
    user-select: none;
}
.gWteaU .thumbnail-background-slider.slick-slider .slick-list {
    height: 100%;
    overflow: hidden;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0px, 0px, 0px);
}
.gWteaU .thumbnail-background-slider.slick-slider .slick-list .slick-track {
    height: 100%;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0px, 0px, 0px);
}

.slick-initialized .slick-slide {
    display: block;
}
.gWteaU
    .thumbnail-background-slider.slick-slider
    .slick-list
    .slick-track
    > div
    > div
    div {
    height: 100%;
}
.iTISUA {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07))
        rgb(236, 236, 236);
}
.slick-track::after {
    clear: both;
}

.gWteaU .shadow {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0) 96.05%
    );
}
main,
menu.sub-tab {
    margin: 0px auto;
    width: 1280px;
    height: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.emcwoE {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
}
.cMGMYw {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 240px;
}
.cMGMYw .main-info > .left {
    width: 0px;
    height: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 760px;
}
.bmIvil {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.bmIvil .main-thumbnail-slider-container {
    display: flex;
    flex-direction: column;
    width: calc(78% - 12.48px);
}
.bmIvil .main-thumbnail-slider {
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 20px);
    margin: 0px;
    width: 100%;
    overflow: visible;
}
.bmIvil .main-thumbnail-slider .slick-slider img {
    border-radius: 4px;
    background-color: white;
}
.crkeru {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 112px;
    z-index: 3;
}
.crkeru > div {
    margin-bottom: 0px;
}
.hMwtdV {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: rgb(142, 148, 160);
    box-sizing: border-box;
    border-bottom: 2px solid rgb(245, 246, 247);
    margin-bottom: 8px;
}
.hMwtdV > .tab {
    cursor: pointer;
    box-sizing: border-box;
    padding: 16px 0px;
    margin-right: 18px;
}
.frNqBn {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 80px;
    text-align: center;
    box-sizing: border-box;
    cursor: inherit;
    color: var(--color);
    background-color: var(--sub-color);
    font-weight: 700;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.25px;
    --color: #8e94a0;
    --sub-color: #6f778512;
    --border-color: #8e94a04c;
    margin-left: 4px;
}
.hMwtdV > .tab.active {
    position: relative;
}
.hMwtdV .active {
    color: rgb(16, 28, 51);
}
.hMwtdV > .tab.active::after {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    bottom: -2px;
    content: "";
    border-bottom: 2px solid rgb(16, 28, 51);
}
.kqKmnY {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bnwsRn {
    margin-bottom: 72px;
    background-color: rgb(255, 255, 255);
    margin-top: 48px;
}
.budRws {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    font-weight: 700;
}
.IgWa-D {
    font-size: 14px;
    color: rgb(64, 74, 92);
    letter-spacing: -0.5px;
    line-height: 180%;
    word-break: break-all;
}
.cMGMYw .main-info {
    margin-top: 30px;
    height: 100%;
    display: flex;
    padding-bottom: 30px;
}
.eydkOh {
    margin-bottom: 72px;
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
}
p,
li {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 400;
    color: #404a5c;
    margin: 0;
    line-height: 180%;
}
img {
    width: 100%;
}
.IgWa-D {
    font-size: 14px;
    color: rgb(64, 74, 92);
    letter-spacing: -0.5px;
    line-height: 180%;
    word-break: break-all;
    width: 746px;
}
.fhVFfT {
    margin-bottom: 72px;
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
}
.kqKmnY button {
    cursor: pointer;
}
.dPiekb {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(64, 74, 92);
    padding: 8px 17px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
    margin-left: 575px;
}
.dPiekb::before {
    border-color: rgb(219, 222, 226);
}
.dPiekb::before {
    content: "";
    position: absolute;
    inset: 0px;
    border: 1px solid;
    border-radius: 4px;
}
.dPiekb .visual-correction {
    padding-bottom: 1px;
}
.ieeiGG {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(219, 222, 226);
    border-bottom: 1px solid rgb(219, 222, 226);
}
ol,
ul {
    list-style: none;
    padding-left: 0;
}
.ieeiGG li:not(:last-child) {
    margin-bottom: 16px;
}
.ieeiGG li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.5px;
    font-weight: 500;
}
.ieeiGG li .file-name {
    display: block;
    color: rgb(64, 74, 92);
    margin-right: 16px;
}
.ieeiGG li .file-download {
    flex-shrink: 0;
}
.ieeiGG li .file-download .size {
    color: rgb(142, 148, 160);
    margin-right: 16px;
}
.kFugxy {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(64, 74, 92);
    padding: 4px 14px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 700;
    text-decoration: none;
}
.kFugxy::before {
    border-color: rgb(219, 222, 226);
}
.kFugxy::before {
    content: "";
    position: absolute;
    inset: 0px;
    border: 1px solid;
    border-radius: 4px;
}
.kFugxy .visual-correction {
    padding-bottom: 2px;
}
.cMGMYw .main-info > .space {
    flex-shrink: 0;
    width: calc(8.33333%);
}
.cMGMYw .main-info > .right {
    flex-shrink: 0;
    width: calc(33.3333%);
    height: 100%;
    position: relative;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.sticky-box {
    position: fixed;
    top: 50px;
    width: 500px;
}
.bYWpeA {
    align-self: flex-end;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 222, 226);
    border-radius: 4px;
    padding: 34px;
    display: flex;
    flex-direction: column;
}
.gwqdGn {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    visibility: visible;
    max-height: 500px;
    opacity: 1;
    margin-bottom: 0px;
    transition-property: max-height, opacity;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.gwqdGn .title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
    margin-bottom: 8px;
}
.gwqdGn .user-info {
    margin-bottom: 32px;
}
.gwqdGn .user-info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gwqdGn .user-info .avatar {
    margin-right: 8px;
}
.hMIBEV {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: unset;
    background-color: white;
    border-radius: 50%;
}
a {
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.hMIBEV > img {
    width: 20px;
    height: 20px;
}
.hMIBEV > img {
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(245, 246, 247);
}
.gwqdGn .user-info .user-info-text-wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.gwqdGn .user-info .user-info-text-wrapper .company {
    color: rgb(111, 119, 133);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    margin-right: 2px;
}
.ibclun {
    display: -webkit-box;
    text-overflow: ellipsis;
    line-height: inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    word-break: break-all;
    max-width: 140px;
    width: max-content;
}
.gMhFHY {
    display: flex;
    flex-direction: column;
}
.gMhFHY .help {
    padding-bottom: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    color: rgb(142, 148, 160);
}
.fpiAVl {
    position: relative;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
}
.gMhFHY .help .help-icon {
    margin-top: 1px;
    margin-left: 5px;
    width: 12px;
    height: 12px;
}
.cAfwXx {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}
.gMhFHY .help .tooltip-content {
    min-width: 110px;
}
.fpiAVl .tooltip-content {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.8);
}
.fpiAVl .tooltip-content {
    margin-top: 16px;
    --top: 0;
    --bottom: 0;
    --right: none;
    --rotateDeg: 270deg;
    --translateX: 0;
    --translateY: -100%;
}
.fpiAVl .tooltip-content {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0px);
}
.fpiAVl .tooltip-content {
    white-space: pre;
    text-align: center;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 12px;
    visibility: hidden;
    border-radius: 5px;
    z-index: 10;
}
.fpiAVl .tooltip-content::before {
    position: absolute;
    height: 0px;
    width: 0px;
    content: "";
    border-style: solid;
    border-image: initial;
    pointer-events: none;
    border-width: 8px;
    left: var(--left);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    margin-left: var(--marginLeft);
    transform: translate(var(--translateX), var(--translateY))
        rotate(var(--rotateDeg));
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
        rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.8);
}
.bYWpeA.end .prize .total-prize {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
}
.gMhFHY .prizes {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.gMhFHY .prizes li {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dFpMxL {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 80px;
    text-align: center;
    box-sizing: border-box;
    cursor: inherit;
    color: var(--color);
    background-color: var(--sub-color);
    font-weight: 700;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    --color: #8e94a0;
    --sub-color: #6f778512;
    --border-color: #8e94a04c;
    margin-right: 8px;
}
.gMhFHY .prizes li span {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: rgb(16, 28, 51);
}
.gMhFHY .total-prize {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: rgb(16, 28, 51);
    margin-bottom: 14px;
}
.bYWpeA .row-line {
    height: 1px;
    width: 100%;
    background-color: rgb(233, 235, 237);
    margin-top: 24px;
}
.kMQNPD {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: flex-start;
}
.ikzFFA {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ikzFFA .title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 700;
    color: rgb(142, 148, 160);
    margin-bottom: 8px;
}
.ikzFFA .content {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
}
.ikzFFA .sub-content {
    margin-top: 2px;
    display: flex;
}
.ikzFFA .sub-content span {
    letter-spacing: -0.25px;
    color: rgb(142, 148, 160);
    font-size: 10px;
    line-height: 14.8px;
    font-weight: 700;
}
.igAYIA .tooltip {
    width: 100%;
}
.iwJBuy {
    position: relative;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
}
.cfHinI {
    width: 100%;
}
.hGQKtp {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(38, 86, 246);
    color: rgb(255, 255, 255);
    padding: 11px 16px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.5px;
    font-weight: 700;
}
