<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="../../static/css/introduction/introduction.css"
        />
        <title>사업소개</title>
    </head>
    <body>
        <div id="root">
            <div id="app"></div>
            <div class="app-inner">
                <div class="main-wrap">
                    <div class="main-container">
                        <div class="main">
                            <div class="main-inner">
                                <section class="promotion-section"></section>
                                <section class="introduction-section"></section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/introduction/introduction.js"></script>
</html>
