<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>배너 테스트</title>
        <link rel="stylesheet" href="/static/css/main/main.css" />
        <link rel="stylesheet" href="/static/css/main/basic-header.css" />
    </head>
    <body>
        <div id="root">
            <div id="app" class="bfedap app">
                <div class="wrap">
                    <div class="eucbbu content">
                        <div class="giosf">
                            <div class="page-content">
                                <section class="cqiqxf">
                                    <div
                                        class="fkweeb main-slider"
                                        width="100%"
                                        overflow="hidden"
                                    >
                                        <div
                                            class="slick-slider slick-initialized"
                                            dir="ltr"
                                        >
                                            <div
                                                data-role="none"
                                                class="slick-arrow slick-prev"
                                                style="display: block"
                                            >
                                                <svg
                                                    color="#000000"
                                                    viewBox="0 0 24 24"
                                                    class="cafwxx"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M7.97113 22.0001C8.19513 22.0001 8.41713 21.9061 8.58713 21.7191L16.7471 12.7161C17.0841 12.3451 17.0841 11.7451 16.7471 11.3741L8.48613 2.28013C8.14713 1.90813 7.59713 1.90613 7.25613 2.27713C6.91613 2.64813 6.91413 3.25113 7.25313 3.62413L14.9051 12.0471L7.35413 20.3771C7.01513 20.7501 7.01713 21.3531 7.35813 21.7241C7.52813 21.9081 7.74913 22.0001 7.97113 22.0001Z"
                                                    ></path>
                                                </svg>
                                            </div>
                                            <div
                                                class="slick-list"
                                                style="padding: 0px 50px"
                                            >
                                                <div
                                                    class="slick-track"
                                                    style="
                                                        width: 38313px;
                                                        opacity: 1;
                                                        transform: translate3d(
                                                            -9379.5px,
                                                            0px,
                                                            0px
                                                        );
                                                        transition: -webkit-transform
                                                            500ms;
                                                    "
                                                >
                                                    <div dita-index="-7">
                                                        <img
                                                            src="/static/images/banner1.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div dita-index="-6">
                                                        <img
                                                            src="/static/images/banner2.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div dita-index="-5">
                                                        <img
                                                            src="/static/images/banner3.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div dita-index="-4">
                                                        <img
                                                            src="/static/images/banner4.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div dita-index="-3">
                                                        <img
                                                            src="/static/images/banner5.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div dita-index="-2">
                                                        <img
                                                            src="/static/images/banner6.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div dita-index="-1">
                                                        <img
                                                            src="/static/images/banner7.jpg"
                                                            alt=""
                                                        />
                                                    </div>
                                                </div>
                                                <div></div>
                                            </div>
                                            <div
                                                data-role="none"
                                                class="slick-arrow slick-next"
                                                style="display: block"
                                            >
                                                <svg
                                                    color="#000000"
                                                    viewBox="0 0 24 24"
                                                    class="cafwxx"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M7.97113 22.0001C8.19513 22.0001 8.41713 21.9061 8.58713 21.7191L16.7471 12.7161C17.0841 12.3451 17.0841 11.7451 16.7471 11.3741L8.48613 2.28013C8.14713 1.90813 7.59713 1.90613 7.25613 2.27713C6.91613 2.64813 6.91413 3.25113 7.25313 3.62413L14.9051 12.0471L7.35413 20.3771C7.01513 20.7501 7.01713 21.3531 7.35813 21.7241C7.52813 21.9081 7.74913 22.0001 7.97113 22.0001Z"
                                                    ></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/main/main.js"></script>
    </body>
</html>
