html body #root {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-size: inherit;
}

body,
html {
    background-color: #fff;
    font: 12px / 18px "Noto Sans KR", NanumGothic, "나눔고딕", "Nanum Gothic",
        "맑은 고딕", "Malgun Gothic", Dotum;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    text-align: left;
    width: 100%;
}
body,
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
body {
    color: #101c33;
    font-size: 14px;
}
html body #root #app .wrap {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
}
img {
    vertical-align: bottom;
}
.container {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.page-wrap .page-content {
    overflow: hidden;
}
.slider-inner {
    margin: 0px auto;
    max-width: 100%;
    overflow: hidden;
}
.page-inner .main-slider .slick-slider {
    padding-top: 24px;
    padding-bottom: 48px;
    position: relative;
}
.slick-slider {
    box-sizing: border-box;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-y;
    user-select: none;
}
.page-inner .main-slider .slick-slider > .slick-arrow.slick-prev {
    left: calc(50% - 475px);
}
.page-inner .main-slider .slick-slider > .slick-arrow {
    visibility: visible;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    top: 48%;
    display: flex !important;
}
.slider-inner .slick-arrow {
    width: 48px;
    height: 48px;
    z-index: 1;
    right: 0px;
}
.slick-prev,
.slick-next {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: 20px;
    line-height: 0;
    outline: none;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    width: 20px;
}
.page-inner .main-slider .slick-slider > .slick-arrow.slick-prev > svg {
    transform: rotate(-180deg);
}
.page-inner .main-slider .slick-slider > .slick-arrow > svg {
    width: 20px;
    height: 20px;
}
.img-op {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}
.slick-slider .slick-list {
    transform: translate3d(0px, 0px, 0px);
}
.slider-inner .slick-list {
    overflow: visible;
}
.slider-inner .slick-track {
    display: flex;
    margin: 0px;
}
.slick-track::before,
.slick-track::after {
    content: "";
    display: table;
}
.slick-track::after {
    clear: both;
}
.page-inner .main-slider .slick-slide {
    width: 1062px;
    padding: 0px 12px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.banner-box {
    box-sizing: border-box;
    cursor: pointer;
}
.banner-container {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(34, 34, 34);
    display: flex !important;
}
.banner-container .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-color {
    color: rgb(255, 255, 255);
}
.banner-container .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-color2 {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}
.banner-container .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.arrow-inner {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
}
.banner-container .banner-web-image {
    width: 400px;
    height: 225px;
}
.banner-container img {
    object-fit: cover;
}
.banner-container2 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(201, 230, 255);
    display: flex !important;
}
.banner-container2 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container2 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container2 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-color2 {
    color: rgb(0, 0, 0);
}
.banner-container2 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container2 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-botton-color {
    color: rgb(0, 0, 0);
}
.banner-container2 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container2 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.slick-slide img {
    display: block;
    object-fit: scale-down !important;
}
.banner-container2 img {
    object-fit: cover;
}
.banner-container3 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(59, 120, 255);
    display: flex !important;
}

.banner-container3 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container3 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container3 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-container3 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container3 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}

.banner-botton-color2 {
    color: rgb(255, 255, 255);
}
.banner-container3 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container3 .banner-web-mage {
    width: 400px;
    height: 225px;
}
.banner-container3 .banner-web-image {
    width: 580px;
    height: 320px;
    border-radius: 8px;
}
.banner-container3 img {
    object-fit: cover;
}
.banner-contaniner4 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(255, 117, 134);
    display: flex !important;
}
.banner-contaniner4 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-contaniner4 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-contaniner4 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-contaniner4 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-contaniner4 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-botton-color3 {
    background-color: rgb(255, 117, 134);
    color: rgb(255, 255, 255);
}
.banner-contaniner4 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-contaniner4 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.banner-contaniner4 img {
    object-fit: cover;
}
.banner-container4 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(64, 108, 255);
    display: flex !important;
}
.banner-container4 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container4 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container4 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-container4 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container4 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-container4 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container4 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.banner-container4 img {
    object-fit: cover;
}
.banner-container5 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(178, 105, 80);
    display: flex !important;
}
.banner-container5 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container5 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container5 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-container5 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container5 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-button-color4 {
    background-color: rgb(178, 105, 80);
    color: rgb(255, 255, 255);
}
.banner-container5 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container5 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.banner-container5 img {
    object-fit: cover;
}
.banner-container6 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(41, 204, 190);
    display: flex !important;
}
.banner-container6 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container6 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container6 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-container6 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container6 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-button-color5 {
    background-color: rgb(41, 204, 190);
    color: rgb(0, 0, 0);
}
.banner-container6 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container6 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.banner-container6 img {
    object-fit: cover;
}
.banner-container7 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(68, 68, 68);
    display: flex !important;
}
.banner-container7 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container7 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container7 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-container7 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container7 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.content-color {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}
.banner-container7 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container7 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.banner-container7 img {
    object-fit: cover;
}
.banner-container8 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: rgb(3, 156, 100);
    display: flex !important;
}
.banner-container8 .banner-content-wrapper.inner1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 140px;
    height: 300px;
}
.banner-container8 .banner-content-wrapper.inner2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.banner-container8 .banner-web-sub-title {
    /* white-space: pre-wrap; */
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
    opacity: 0.7;
}
.banner-container8 .banner-web-title {
    /* white-space: pre-wrap; */
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 12px 0px 46px;
}
.banner-container8 .banner-button-primary {
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.banner-botton-color2 {
    color: rgb(255, 255, 255);
}
.banner-container8 .banner-button-primary .banner-button-arrow {
    margin-left: 4px;
}
.banner-container8 .banner-web-image {
    width: 400px;
    height: 225px;
    border-radius: 8px;
}
.banner-container8 img {
    object-fit: cover;
}
.page-inner .main-slider .slick-slider > .slick-arrow.slick-next {
    right: calc(50% - 475px);
}

.slider-inner {
    margin: 0px auto;
    max-width: 100%;
    overflow: hidden;
}

.slick-list {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    padding: 0 50px;
}

.slick-track {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    transform: translate3d(0px, 0px, 0px); /* 초기 위치 */
    transition: transform 0.5s ease-in-out;
}

.review-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(245, 248, 255);
}

.review-container .review-title.animate {
    transform: translateY(0px);
    opacity: 1;
}
.review-container .review-title {
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transform: translateY(50px);
    opacity: 0;
    transition-delay: 0.5s;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(16, 28, 51);
    word-break: keep-all;
    margin-bottom: 64px;
}

.review-container > div {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 100px;
}
.review-container .review-title > p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: rgb(64, 74, 92);
}
.review-container .review-title > h2 {
    margin-top: 14px;
    /* white-space: pre-wrap; */
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: center;
}
.page-wrap .page-content .inner.max-inner {
    max-width: 1440px;
    min-width: 1200px;
    width: 100%;
}

.review-container > .inner.max-inner {
    padding: 0px 80px;
}
.page-wrap .page-content .inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    width: 1200px;
}
.review-container > div {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 100px;
}
.review-container > div > .user-review-title {
    margin-bottom: 16px;
    display: flex;
}
.review-container > div > .user-review-title > h4 {
    margin-right: 8px;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    font-weight: 700;
}
.review-container > div > .user-review-title > label {
    margin: auto;
    padding: 0px 10px;
    height: 25px;
    border-radius: 4px;
    background: var(--white-info, #2656f6);
    color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: center;
}
.rating {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 80px;
    text-align: center;
    box-sizing: border-box;
    cursor: inherit;
    color: var(--color);
    background-color: var(--sub-color);
    font-weight: 700;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    --color: #8e94a0;
    --sub-color: #6f778512;
    --border-color: #8e94a04c;
}
.display-option {
    display: inline-block;
}

.review-button-inner {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    border: 0px;
    text-align: center;
    box-sizing: border-box;
    color: rgb(64, 74, 92);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 700;
    text-decoration: unset;
}
.review-button-inner-op {
    display: flex;
    flex-direction: row;
}
.review-button-inner > svg {
    margin-left: 4px;
}
.review-button-inner > svg {
    color: rgb(170, 177, 188);
}
.review-container > div.review-slider {
    padding: 0px;
}
.review-container > div {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 100px;
}
.review-slidder-container > .marquee-container {
    height: 100%;
    position: relative;
    z-index: 0;
    padding: 10px 0px;
}
.marquee-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    width: var(--width);
    transform: var(--transform);
}
.review-slidder-container > .marquee-container .marquee {
    min-width: unset;
}
.marquee {
    flex: 0 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: roll 30s linear infinite;
}
.initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}
.child {
    transform: var(--transform);
}
.review-slidder-container .main-home-review-card {
    margin-right: 16px;
    z-index: 10;
    position: relative;
}
.review-slidder-container .main-home-review-card > a {
    position: relative;
    z-index: 30;
}
.review-card {
    width: 411px;
    height: 285px;
    padding: 24px;
    border: 1px solid var(--gray-200, #e9ebed);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
}
.review-card .top-part {
    -webkit-box-align: center;
    align-items: center;
}
.review-card > div {
    display: flex;
}
.review-card > div .image-outer {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid rgb(245, 246, 247);
}
.review-card > div > div {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
.cover .card-image {
    overflow: hidden;
    width: 100%;
}
.cover-inner {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
.cover-inner > div {
    position: absolute;
    inset: 0px;
}
.cover .observer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.review-card > div .image-outer img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: 0.3s;
}
.star-container.user-review {
    display: flex;
}
.star-container {
    -webkit-box-align: center;
    align-items: center;
    border-right: none;
    color: rgb(9, 87, 255);
}
.star-container > svg {
    color: rgb(255, 184, 0);
}
.star-container svg {
    height: 14px;
    width: 14px;
}
.star-container > .review-count {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: rgb(16, 28, 51);
}
.star-container .review-count {
    padding-left: 5px;
}
.review-card > div > div .user-info {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 2px auto auto;
}
.review-card > div > div .user-info .avatar {
    margin-right: 4px;
}
.review-card > div > div .user-info span {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: rgb(111, 119, 133);
}
.user-info-inner {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: unset;
    background-color: white;
    border-radius: 50%;
}
.user-info-inner > img {
    width: 30px;
    height: 30px;
}
.user-info-inner > img {
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(245, 246, 247);
}
.user-nick-wrapper {
    display: flex;
    width: fit-content;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}
.nick-name-inner {
    /* display: -webkit-box; */
    text-overflow: ellipsis;
    /* white-space: pre-wrap; */
    line-height: inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* -webkit-line-clamp: 1; */
    word-break: break-word;
}
.nick-option {
    margin: 0px 8px;
    background-color: rgb(233, 235, 237);
    width: 1px;
    height: 12px;
}
.review-card > div > div .user-info .date {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: rgb(142, 148, 160);
}
.review-card .content-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.review-card .content-wrapper .info-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}
.info-container {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /* white-space: pre-wrap; */
    line-height: inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    line-clamp: 4; /* 표준 속성으로 추가 */
    line-height: inherit;
    word-break: keep-all;
}
.review-card .content-wrapper .bottom-info {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.review-card .content-wrapper .bottom-info > label.contest {
    background: rgb(225, 237, 255);
    color: rgb(38, 86, 246);
}
.review-card .content-wrapper .bottom-info > label {
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
.review-card .content-wrapper .bottom-info > p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: rgb(111, 119, 133);
}
.nick-option2 {
    margin: 0px 6px;
    background-color: rgb(233, 235, 237);
    width: 1px;
    height: 12px;
}
.review-card .content-wrapper .bottom-info .product-type {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: rgb(142, 148, 160);
}
.review-slidder-container .main-home-review-card > a:hover {
    position: relative;
    transform: translateY(-10px);
    transition-property: box-shadow, transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;
}
.display-op:not([disabled]):hover, .display-op:not([disabled]):focus {
    opacity: 0.8;
}

.initial-child-container.original {
	animation: rollingleft1 60s linear infinite;
}

.initial-child-container.clone {
	animation: rollingleft2 60s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}

.marquee:hover #roller1,
.marquee:hover #roller2 {
    animation-play-state: paused; /* 마우스를 올리면 애니메이션 일시 정지 */
}