<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Onjung - 마이페이지</title>
        <link
            rel="stylesheet"
            href="../../static/css/mypage/mypage-origin.css"
        />
    </head>
    <body>
        <div id="root">
            <div
                style="
                    position: fixed;
                    z-index: 9999;
                    inset: 16px;
                    pointer-events: none;
                "
            ></div>
            <div id="app" class="sc-eyCGVO bFedaP app">
                <div class="wrap">
                    <div class="sc-fWIMVQ fxidxS">
                        <div class="contest-manage">
                            <div class="contest-deal-manage-wrap">
                                <div class="sc-gUKBdY Guzgb">
                                    <div class="mypage-whole-wrap">
                                        <div class="mypage-box">
                                            <div
                                                class="sc-hRhvJZ kEwOPR mypage-wrap mypage-left-area"
                                            >
                                                <div class="sc-jeplGT laWyuX">
                                                    <div
                                                        class="mypage-member-info"
                                                    >
                                                        <div
                                                            class="profile-thumb-img"
                                                        >
                                                            <div
                                                                class="member-thumb member-thumb2"
                                                                style="
                                                                    background-image: url('https://cdn-dantats.stunning.kr/static/feature/profile/default-profile.png.small?q=80&amp;f=webp&amp;t=crop&amp;s=256x256');
                                                                "
                                                            ></div>
                                                        </div>
                                                        <div class="member-id">
                                                            <div
                                                                class="info-role"
                                                            >
                                                                의뢰자
                                                            </div>
                                                            <div
                                                                class="info-nick"
                                                            >
                                                                동양적인퍼플3324님
                                                            </div>
                                                            <div
                                                                class="info-email"
                                                            >
                                                                hmk4079@naver.com
                                                            </div>
                                                        </div>
                                                        <a
                                                            class="sc-cCsOjp biYqFz memeber-profile"
                                                            href="/m/hmk40799974"
                                                            ><span
                                                                class="visual-correction"
                                                                style="
                                                                    margin-left: -80%;
                                                                "
                                                                >프로필
                                                                수정</span
                                                            ></a
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 아래칸 -->
                                            <div class="sc-hhFzXm gNTKJg">
                                                <div class="sc-bPPhlf fLaAlD">
                                                    <div
                                                        class="lnb-title"
                                                        style="width: 217px"
                                                    >
                                                        <img
                                                            id="image.system.emoji.drannehyattdvm"
                                                            src="https://cdn-dantats.stunning.kr/static/emoji/ArtistPalette32px.png"
                                                            class="sc-llJcti hkAQYM"
                                                        />프로필 관리
                                                    </div>
                                                    <div
                                                        class="sc-hrZiYQ hHDwuD"
                                                        style="
                                                            margin-bottom: -15px;
                                                        "
                                                    >
                                                        <div
                                                            class="lnb-item active"
                                                        >
                                                            <a
                                                                href="/gelato/mypage/deal/contest"
                                                                class="sc-cCsOjp hLIslS"
                                                                >마이 프로필</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="sc-bPPhlf fLaAlD"
                                                    style="
                                                        width: 217px;
                                                        padding-top: 0px;
                                                    "
                                                >
                                                    <div
                                                        class="lnb-title"
                                                        style="width: 217px"
                                                    >
                                                        <img
                                                            id="image.system.emoji.cindyhilll"
                                                            src="https://cdn-dantats.stunning.kr/static/emoji/CreditCard36px.png"
                                                            class="sc-llJcti hkAQYM"
                                                        />결제 관리
                                                    </div>
                                                    <div
                                                        class="sc-hrZiYQ hHDwuD"
                                                    >
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/paymentrecord"
                                                                class="sc-cCsOjp hLIslS"
                                                                >결제 내역</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/couponbox"
                                                                class="sc-cCsOjp hLIslS"
                                                                >쿠폰함</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/vbank"
                                                                class="sc-cCsOjp hLIslS"
                                                                >가상계좌</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/taxbill"
                                                                class="sc-cCsOjp hLIslS"
                                                                >증빙 수단
                                                                정보</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc-bPPhlf fLaAlD">
                                                    <div
                                                        class="lnb-title"
                                                        style="width: 217px"
                                                    >
                                                        <img
                                                            id="image.system.emoji.cindyhagenes"
                                                            src="https://cdn-dantats.stunning.kr/static/emoji/PageFacingUp36px.png"
                                                            class="sc-llJcti hkAQYM"
                                                        />정보 관리
                                                    </div>
                                                    <div
                                                        class="sc-hrZiYQ hHDwuD"
                                                    >
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/noticenter"
                                                                class="sc-cCsOjp hLIslS"
                                                                >알림 센터</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/notisetting"
                                                                class="sc-cCsOjp hLIslS"
                                                                >알림 설정</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/accountupdate"
                                                                class="sc-cCsOjp hLIslS"
                                                                >본인 인증
                                                                정보</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="https://accounts.stunning.kr"
                                                                class="sc-cCsOjp hLIslS"
                                                                >계정 설정</a
                                                            >
                                                        </div>
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/referral"
                                                                class="sc-cCsOjp hLIslS"
                                                                >추천인 관리</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc-bPPhlf fLaAlD">
                                                    <div
                                                        class="lnb-title"
                                                        style="width: 217px"
                                                    >
                                                        <img
                                                            id="image.system.emoji.drtonyadonnelly"
                                                            src="https://cdn-dantats.stunning.kr/static/emoji/runningperson36px.png"
                                                            class="sc-llJcti hkAQYM"
                                                        />클래스
                                                    </div>
                                                    <div
                                                        class="sc-hrZiYQ hHDwuD"
                                                    >
                                                        <div class="lnb-item">
                                                            <a
                                                                href="/gelato/mypage/class"
                                                                class="sc-cCsOjp hLIslS"
                                                                >클래스 수강
                                                                내역</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
