<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Onjung - 마이페이지</title>
        <link rel="stylesheet" href="../../static/css/mypage/mypage-origin.css" />
    </head>
    <body>
        <div id="root">
            <div style="
                    position: fixed;
                    z-index: 9999;
                    inset: 16px;
                    pointer-events: none;">
            </div>
            <div id="app" class="sc-eyCGVO bFedaP app">
                <div class="wrap">
                    <div class="sc-djvmMF euCbBu content">
                        <div class="contest-manage">
                            <div class="contest-deal-manage-wrap">
                                <div class="sc-jnCuNW llFeMS">
                                    <div class="mypage-whole-wrap">
                                        <div class="mypage-box">
                                            <div
                                                class="sc-dVMcbP ekMRHH mypage-wrap mypage-left-area"
                                            >
                                                <div class="sc-caiQmJ iVMGsu">
                                                    <div class="mypage-member-info">
                                                        <div class="profile-thumb-img">
                                                            <div
                                                                class="member-thumb member-thumb2"
                                                                style="
                                                                    background-image: url('https://cdn-dantats.stunning.kr/static/feature/profile/default-profile.png.small?q=80&f=webp&t=crop&s=256x256');
                                                                "
                                                            ></div>
                                                            <div class="member-id">
                                                                <div class="info-role">
                                                                    의뢰자
                                                                </div>
                                                                <div class="info-nick">
                                                                    동양적인퍼플3324님
                                                                </div>
                                                                <div class="info-email">
                                                                    hmk4079@naver.com
                                                                </div>
                                                                <a
                                                                    href=""
                                                                    class="sc-cCsOjp biYqFz memeber-profile"
                                                                >
                                                                    <span
                                                                        class="visual-correction"
                                                                        >프로필 수정</span
                                                                    >
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </body>
</html>
