<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Onjung - 마이페이지</title>
        <link
            rel="stylesheet"
            href="../../static/css/mypage/mypage-origin.css"
        />
    </head>
    <body>
        <div id="root">
            <div
                style="
                    position: fixed;
                    z-index: 9999;
                    inset: 16px;
                    pointer-events: none;
                "
            ></div>
            <div id="app" class="bFedaP app">
                <div class="wrap">
                    <div class="fxidxS">
                        <div class="contest-manage">
                            <div class="contest-deal-manage-wrap">
                                <div class="Guzgb">
                                    <div class="mypage-whole-wrap">
                                        <div class="mypage-box">
                                            <div
                                                class="mypage-wrap mypage-left-area"
                                            >
                                                <div class="laWyuX">
                                                    <div
                                                        class="mypage-member-info"
                                                    >
                                                        <div
                                                            class="profile-thumb-img"
                                                        >
                                                            <div
                                                                class="member-thumb member-thumb2"
                                                                style="
                                                                    background-image: url('https://cdn-dantats.stunning.kr/static/feature/profile/default-profile.png.small?q=80&amp;f=webp&amp;t=crop&amp;s=256x256');
                                                                "
                                                            ></div>
                                                        </div>
                                                        <div class="member-id">
                                                            <div
                                                                class="info-role"
                                                            >
                                                                의뢰자
                                                            </div>
                                                            <div
                                                                class="info-nick"
                                                            >
                                                                동양적인퍼플3324님
                                                            </div>
                                                            <div
                                                                class="info-email"
                                                            >
                                                                hmk4079@naver.com
                                                            </div>
                                                        </div>
                                                        <button
                                                            class="eUhkSO fUTKVI button share-btn hpehoT"
                                                            href="/gelato/profile/edit"
                                                        >
                                                            프로필 수정
                                                            <svg
                                                                viewBox="0 0 12 12"
                                                                class="sc-gKXOVf iFpvod"
                                                            >
                                                                <path
                                                                    fill-rule="evenodd"
                                                                    clip-rule="evenodd"
                                                                    d="M9.65772 1.14943L10.8506 2.34227C11.0498 2.5415 11.0498 2.8659 10.8506 3.06513L9.9157 4L8 2.08429L8.93486 1.14943C9.13409 0.950192 9.45849 0.950192 9.65772 1.14943ZM1 11V8.97503L6.97502 3L9 5.02497L3.02498 11H1Z"
                                                                ></path>
                                                                <defs></defs>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- 아래칸 -->
                                                <div class="gNTKJg">
                                                    <div
                                                        class="fLaAlD"
                                                        style="width: 217px"
                                                    >
                                                        <div
                                                            class="lnb-title"
                                                            style="width: 217px"
                                                        >
                                                            <img
                                                                id="image.system.emoji.drannehyattdvm"
                                                                src="https://cdn-dantats.stunning.kr/static/emoji/ArtistPalette32px.png"
                                                                class="i hkAQYM"
                                                            />프로필 관리
                                                        </div>
                                                        <div
                                                            class="hHDwuD"
                                                            style="
                                                                margin-bottom: -15px;
                                                            "
                                                        >
                                                            <div
                                                                class="lnb-item active"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                >
                                                                    마이 프로필
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="fLaAlD"
                                                        style="
                                                            width: 217px;
                                                            padding-top: 0px;
                                                        "
                                                    >
                                                        <div
                                                            class="lnb-title"
                                                            style="width: 217px"
                                                        >
                                                            <img
                                                                id="image.system.emoji.cindyhilll"
                                                                src="https://cdn-dantats.stunning.kr/static/emoji/CreditCard36px.png"
                                                                class="hkAQYM"
                                                            />결제 관리
                                                        </div>
                                                        <div class="hHDwuD">
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >결제
                                                                    내역</a
                                                                >
                                                            </div>
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >후원
                                                                    내역</a
                                                                >
                                                            </div>
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >기부
                                                                    내역</a
                                                                >
                                                            </div>
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >충전
                                                                    하기</a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="fLaAlD"
                                                        style="width: 217px"
                                                    >
                                                        <div
                                                            class="lnb-title"
                                                            style="width: 217px"
                                                        >
                                                            <img
                                                                id="image.system.emoji.cindyhagenes"
                                                                src="https://cdn-dantats.stunning.kr/static/emoji/PageFacingUp36px.png"
                                                                class="hkAQYM"
                                                            />히스토리
                                                        </div>
                                                        <div class="hHDwuD">
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >내 알림</a
                                                                >
                                                            </div>
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >봉사 활동
                                                                    내역</a
                                                                >
                                                            </div>
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href=""
                                                                    class="hLIslS"
                                                                    >내 문의</a
                                                                >
                                                            </div>
                                                            <div
                                                                class="lnb-item"
                                                            >
                                                                <a
                                                                    href="/gelato/mypage/notisetting"
                                                                    class="hLIslS"
                                                                    >내 후기</a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="mypage-wrap mypage-right-area"
                                            >
                                                <section class="profile-main">
                                                    <div
                                                        class="profile-page-contents"
                                                    >
                                                        <div
                                                            class="sc-fkFYRF jwBxhg"
                                                        >
                                                            <div
                                                                class="sc-kBWXA-d cuAJGg"
                                                            >
                                                                <div
                                                                    class="sub-title1 bold spacing-md--margin-bottom"
                                                                    style="
                                                                        margin-top: 25%;
                                                                        margin-left: 35%;
                                                                        width: 700px;
                                                                        font-size: 30px;
                                                                    "
                                                                >
                                                                    동양적인퍼플3324님
                                                                    한 줄
                                                                    프로필을
                                                                    작성해
                                                                    주세요.
                                                                </div>
                                                                <div
                                                                    class="content empty"
                                                                    style="
                                                                        margin-top: 5%;
                                                                        margin-left: 35%;
                                                                        font-size: 15px;
                                                                        height: 100px;
                                                                    "
                                                                >
                                                                    상세
                                                                    프로필을
                                                                    아직
                                                                    작성하지
                                                                    않았어요.<br />
                                                                    프로필을
                                                                    등록하면
                                                                    의뢰시
                                                                    디자이너가
                                                                    서비스를
                                                                    파악하기
                                                                    쉬워요.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
