<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Onjung-프로필 수정</title>
        <link
            rel="stylesheet"
            href="../../static/css/mypage/mypage-profile-edit.css"
        />
        <style>
            @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap);
        </style>
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
            crossorigin=""
        />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
    </head>
    <body>
        <div id="root">
            <div id="app" class="bFedaP app">
                <div class="wrap">
                    <div class="FPdYO content">
                        <main class="hIMFnk">
                            <div class="cRFSjf">
                                <div class="ekUKKX profile-info">
                                    <div class="edit-content__content-title">
                                        프로필 수정
                                    </div>
                                    <div class="profile-info--wrapper">
                                        <div
                                            class="profile-info--image-wrapper"
                                        >
                                            <img
                                                src="https://cdn-dantats.stunning.kr/client/73287d9/static/media/ico-default-profile.87fcb384.png"
                                                class="hdWpKs"
                                            />
                                            <div class="edit-btn">
                                                <input
                                                    label="profile_image"
                                                    accept="image/jpg, image/jpeg, image/bmp, image/tiff, image/png, image/svg, image/webp"
                                                    type="file"
                                                    id="profile_image"
                                                    class="iBfDiv"
                                                />
                                                <label
                                                    class="kHfLkV"
                                                    width="0"
                                                    height="46"
                                                    for="profile_image"
                                                    ><img
                                                        class="edit-img"
                                                        src="https://cdn-dantats.stunning.kr/client/73287d9/static/media/ico-pen-edit-gray.d058146f.svg"
                                                /></label>
                                            </div>
                                        </div>
                                        <div class="profile-info--content">
                                            <div>
                                                <div
                                                    class="edit-content__input-label"
                                                    style="margin-bottom: 50px"
                                                >
                                                    <h1>
                                                        <span class="bluestar"
                                                            >*</span
                                                        >&nbsp; 닉네임은&nbsp;
                                                        필수&nbsp; 입력&nbsp;
                                                        항목입니다.<br />
                                                    </h1>
                                                </div>
                                                <div
                                                    class="edit-content__input-label"
                                                >
                                                    <span>닉네임</span
                                                    ><span class="bluestar"
                                                        >*</span
                                                    >
                                                </div>
                                                <label
                                                    id="inputLabel"
                                                    class="ijBQbT nickName"
                                                >
                                                    <input
                                                        id="inputField"
                                                        class="nickName"
                                                        maxlength="10"
                                                        value="동양적인퍼플"
                                                        oninput="validateInput()"
                                                    />
                                                    <div class="max-length36">
                                                        <span>0</span>/10
                                                    </div>
                                                </label>
                                                <div
                                                    id="nickNameCheck"
                                                    style="display: none"
                                                >
                                                    <img
                                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHUSURBVHgBtVVdTsJAEJ5ZVtQHtX0RH2siiY96ArmB3kA9AXgC4AbcAI6gN9ATwKOJJPQRfKEqiT9sO84UIREKLFq+pEm73Z2/ne8bhAUgx3MGWV0EhAIBerzijX5AgAitCOAui+Z2u+v782xg0uL7wbFnyNQJoAAWUISNjBpWkxyp6YVBLl8cRqZpa1wQIV0NSTdfckel6X+/MnjbPyoTQgX+ASSo7Dy3qzMOJPIIqAYpgLO/2eu1axMHUnMpC385kA6CDTSncifxHQyjsGJjPERzGKI+hOVwDOm6vGAcPZnO8jPo7/aeYuOvuXxn0rKLAvo0rvoicwFrgtrSJcU1Ooc1QRGcKSI4gTVB2K9S7JwkF56Cv4DIOigt3WHTEbJnsJ+vR8IdtHYQaATymXmezW7RHFgBzOKWihAerE+wTI8ytoPIOfZZ8zObum+xP2DixETLZHXHlvnKDfyAU7mH5XD0lj6Rx6rzEBsua1Esdn2Wi0yaYselDJU5dcdi53YffZ4DVUgJYsv9mW4THoh+p+FEbIxngWBmJsvY46lUXrlcXJZp44kOBHInCsIKEl2CBaRJDJprN2Ho46KDsSOWc1HcWBQnWaEvBBUORR+mJp04z8Y3CPfJeR0EPhwAAAAASUVORK5CYII="
                                                        class="error-image"
                                                    />
                                                    <span
                                                        id="error-message"
                                                        class="error-message"
                                                        style="
                                                            color: rgb(
                                                                242,
                                                                23,
                                                                36
                                                            );
                                                        "
                                                        >필수항목입니다.</span
                                                    >
                                                </div>
                                                <div
                                                    width="100%"
                                                    height="40px"
                                                    class="hZUXyV"
                                                ></div>
                                            </div>
                                            <div>
                                                <div
                                                    class="edit-content__input-label"
                                                >
                                                    한줄 프로필
                                                </div>
                                                <label
                                                    class="ijBQbT geHalw oneLine"
                                                >
                                                    <input
                                                        id="inputField"
                                                        class="oneLine"
                                                        maxlength="20"
                                                        placeholder="예시) 봉사심이 투철한 퍼플입니다."
                                                        value=""
                                                    />
                                                    <div class="max-length20">
                                                        <span>0</span>/20
                                                    </div>
                                                </label>
                                                <div
                                                    id="nickNameCheck"
                                                    style="display: none"
                                                >
                                                    <img
                                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHUSURBVHgBtVVdTsJAEJ5ZVtQHtX0RH2siiY96ArmB3kA9AXgC4AbcAI6gN9ATwKOJJPQRfKEqiT9sO84UIREKLFq+pEm73Z2/ne8bhAUgx3MGWV0EhAIBerzijX5AgAitCOAui+Z2u+v782xg0uL7wbFnyNQJoAAWUISNjBpWkxyp6YVBLl8cRqZpa1wQIV0NSTdfckel6X+/MnjbPyoTQgX+ASSo7Dy3qzMOJPIIqAYpgLO/2eu1axMHUnMpC385kA6CDTSncifxHQyjsGJjPERzGKI+hOVwDOm6vGAcPZnO8jPo7/aeYuOvuXxn0rKLAvo0rvoicwFrgtrSJcU1Ooc1QRGcKSI4gTVB2K9S7JwkF56Cv4DIOigt3WHTEbJnsJ+vR8IdtHYQaATymXmezW7RHFgBzOKWihAerE+wTI8ytoPIOfZZ8zObum+xP2DixETLZHXHlvnKDfyAU7mH5XD0lj6Rx6rzEBsua1Esdn2Wi0yaYselDJU5dcdi53YffZ4DVUgJYsv9mW4THoh+p+FEbIxngWBmJsvY46lUXrlcXJZp44kOBHInCsIKEl2CBaRJDJprN2Ho46KDsSOWc1HcWBQnWaEvBBUORR+mJp04z8Y3CPfJeR0EPhwAAAAASUVORK5CYII="
                                                        class="error-image"
                                                    />
                                                    <span
                                                        id="error-message"
                                                        class="error-message"
                                                        style="
                                                            color: rgb(
                                                                242,
                                                                23,
                                                                36
                                                            );
                                                        "
                                                        >필수항목입니다.</span
                                                    >
                                                </div>
                                                <div
                                                    width="100%"
                                                    height="40px"
                                                    class="hZUXyV"
                                                ></div>
                                            </div>
                                            <div class="height128">
                                                <div
                                                    class="edit-content__input-label"
                                                >
                                                    <span>이름</span>
                                                    <span class="orangestar"
                                                        >*</span
                                                    >
                                                </div>
                                                <label
                                                    id="inputLabel"
                                                    class="ijBQbT name"
                                                >
                                                    <input
                                                        id="inputField"
                                                        class="name"
                                                        maxlength="5"
                                                        value="한민규"
                                                        oninput="validateInput()"
                                                        readonly
                                                    />
                                                </label>
                                            </div>
                                            <div>
                                                <div
                                                    class="edit-content__input-label"
                                                >
                                                    <span>전화번호</span>
                                                    <span class="orangestar"
                                                        >*</span
                                                    >
                                                </div>
                                                <label
                                                    id="inputLabel"
                                                    class="ijBQbT phoneNumber"
                                                >
                                                    <input
                                                        id="inputField"
                                                        class="phoneNumber"
                                                        maxlength="11"
                                                        value="01019181716"
                                                        oninput="validateInput()"
                                                        readonly
                                                    />
                                                </label>
                                            </div>
                                            <div
                                                class="edit-content__input-label"
                                                style="
                                                    margin-bottom: 20px;
                                                    margin-top: 20px;
                                                "
                                            >
                                                <h2 style="margin-top: 15px">
                                                    <span class="orangestar"
                                                        >*</span
                                                    >&nbsp; 이름,&nbsp;
                                                    전화번호&nbsp;변경은
                                                    고객센터로 문의해주세요.
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-content__update-btns">
                                    <button
                                        class="dnkuMk"
                                        width="0"
                                        height="46"
                                    >
                                        저장하기
                                    </button>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/mypage/mypage-profile-edit.js"></script>
</html>
