<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>이용 후기 작성</title>
        <link
            rel="stylesheet"
            href="../../static/css/review/review-write.css"
        />
    </head>
    <body>
        <div class="klFTFP content-wrapper">
            <div class="fhkKgU contents">
                <main class="lzKzG contest-launch form">
                    <div class="gpWIaL"></div>
                    <h3 class="gfAOyb">👉 어떤 작품이 필요하세요?</h3>
                    <div class="form">
                        <div class="cZSwOu" direction="row">
                            <div class="option">
                                <p>
                                    <span class="fendym"
                                        >원하는 디자인을 받아볼 수 있도록
                                        <span class="blue"
                                            >필요한 사항을 작성</span
                                        >하세요.</span
                                    >
                                </p>
                            </div>
                        </div>
                        <div type="MOBILE_DIVIDER" class="gpWIaL"></div>
                        <div class="dmYlDC" direction="row">
                            <div class="header">
                                <div>
                                    <h4 class="label required">
                                        <span class="fendym"
                                            >회사명(단체명)</span
                                        >
                                    </h4>
                                </div>
                                <div></div>
                            </div>
                            <div class="option">
                                <label class="fszQRO"
                                    ><input
                                        placeholder="라우드소싱"
                                        maxlength="20"
                                        value=""
                                    />
                                    <div class="max-length">
                                        <span>0</span>/20
                                    </div></label
                                >
                                <p class="bykfrb status-text undefined">
                                    <span class="status-icon"
                                        ><svg
                                            viewBox="0 0 12 12"
                                            class="iFpvod"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M7.527 6.124C7.439 6.247 7.273 6.404 7.029 6.596L6.787 6.784C6.654 6.887 6.568 7.006 6.523 7.143C6.496 7.229 6.482 7.364 6.48 7.546H5.552C5.566 7.161 5.603 6.895 5.662 6.748C5.722 6.601 5.875 6.432 6.119 6.24L6.369 6.046C6.449 5.984 6.515 5.917 6.566 5.844C6.656 5.719 6.701 5.581 6.701 5.431C6.701 5.257 6.652 5.1 6.55 4.957C6.449 4.814 6.263 4.743 5.996 4.743C5.732 4.743 5.545 4.831 5.435 5.007C5.324 5.182 5.269 5.364 5.269 5.554H4.281C4.308 4.904 4.537 4.443 4.963 4.173C5.23 3.999 5.562 3.913 5.953 3.913C6.468 3.913 6.896 4.036 7.236 4.282C7.578 4.528 7.748 4.893 7.748 5.376C7.748 5.672 7.673 5.922 7.527 6.124ZM5.529 9.002H6.55V8.015H5.529V9.002ZM6 0C2.686 0 0 2.686 0 6C0 9.313 2.686 12 6 12C9.313 12 12 9.313 12 6C12 2.686 9.313 0 6 0Z"
                                            ></path>
                                            <defs></defs></svg></span
                                    >회사 명이 정해지지 않은 경우 ‘미정’으로
                                    적어주세요.
                                </p>
                            </div>
                        </div>
                        <div class="fYYKPN" direction="row">
                            <div class="header">
                                <div>
                                    <h4 class="label required">
                                        <span class="fendym">한 줄 소개</span>
                                    </h4>
                                </div>
                                <div></div>
                            </div>
                            <div class="option">
                                <label class="hgCABm">
                                    <textarea
                                        placeholder="우리 서비스는 OOO을 판매하는 회사입니다."
                                        maxlength="300"
                                    ></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="ftfcRP" direction="column">
                            <div class="header">
                                <div>
                                    <h4 class="label required">
                                        <span class="fendym">브리핑</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="kpdMUe">
                                <textarea
                                    id="briefing"
                                    aria-hidden="true"
                                ></textarea>

                                <input
                                    id="multipulfile-briefing"
                                    type="file"
                                    multiple=""
                                    accept="image/jpeg, image/jpg, image/png, image/webp"
                                    hidden=""
                                />
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
