<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>이용 후기 작성</title>
        <link
            rel="stylesheet"
            href="../../static/css/review/review-write.css"
        />
    </head>
    <body>
        <div class="klFTFP content-wrapper">
            <div class="fhkKgU contents">
                <main class="lzKzG contest-launch form">
                    <div class="gpWIaL"></div>
                    <h3 class="gfAOyb">👉 어떤 작품이 필요하세요?</h3>
                    <div class="form">
                        <div class="cZSwOu" direction="row">
                            <div class="option">
                                <p>
                                    <span class="fendym"
                                        >원하는 디자인을 받아볼 수 있도록
                                        <span class="blue"
                                            >필요한 사항을 작성</span
                                        >하세요.</span
                                    >
                                </p>
                            </div>
                        </div>
                        <div type="MOBILE_DIVIDER" class="gpWIaL"></div>
                        <div class="dmYlDC" direction="row">
                            <div class="header">
                                <div>
                                    <h4 class="label required">
                                        <span class="fendym"
                                            >회사명(단체명)</span
                                        >
                                    </h4>
                                </div>
                                <div></div>
                            </div>
                            <div class="option">
                                <label class="fszQRO"
                                    ><input
                                        placeholder="라우드소싱"
                                        maxlength="20"
                                        value=""
                                    />
                                    <div class="max-length">
                                        <span>0</span>/20
                                    </div></label
                                >
                                <p class="bykfrb status-text undefined">
                                    <span class="status-icon"
                                        ><svg
                                            viewBox="0 0 12 12"
                                            class="iFpvod"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M7.527 6.124C7.439 6.247 7.273 6.404 7.029 6.596L6.787 6.784C6.654 6.887 6.568 7.006 6.523 7.143C6.496 7.229 6.482 7.364 6.48 7.546H5.552C5.566 7.161 5.603 6.895 5.662 6.748C5.722 6.601 5.875 6.432 6.119 6.24L6.369 6.046C6.449 5.984 6.515 5.917 6.566 5.844C6.656 5.719 6.701 5.581 6.701 5.431C6.701 5.257 6.652 5.1 6.55 4.957C6.449 4.814 6.263 4.743 5.996 4.743C5.732 4.743 5.545 4.831 5.435 5.007C5.324 5.182 5.269 5.364 5.269 5.554H4.281C4.308 4.904 4.537 4.443 4.963 4.173C5.23 3.999 5.562 3.913 5.953 3.913C6.468 3.913 6.896 4.036 7.236 4.282C7.578 4.528 7.748 4.893 7.748 5.376C7.748 5.672 7.673 5.922 7.527 6.124ZM5.529 9.002H6.55V8.015H5.529V9.002ZM6 0C2.686 0 0 2.686 0 6C0 9.313 2.686 12 6 12C9.313 12 12 9.313 12 6C12 2.686 9.313 0 6 0Z"
                                            ></path>
                                            <defs></defs></svg></span
                                    >회사 명이 정해지지 않은 경우 ‘미정’으로
                                    적어주세요.
                                </p>
                            </div>
                        </div>
                        <div class="fYYKPN" direction="row">
                            <div class="header">
                                <div>
                                    <h4 class="label required">
                                        <span class="fendym">한 줄 소개</span>
                                    </h4>
                                </div>
                                <div></div>
                            </div>
                            <div class="option">
                                <label class="hgCABm">
                                    <textarea
                                        placeholder="우리 서비스는 OOO을 판매하는 회사입니다."
                                        maxlength="300"
                                    ></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="ftfcRP" direction="column">
                            <div class="header">
                                <div>
                                    <h4 class="label required">
                                        <span class="fendym">브리핑</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="kpdMUe">
                                <textarea
                                    id="briefing"
                                    style="display: none"
                                    aria-hidden="true"
                                ></textarea>
                                <div
                                    role="application"
                                    class="tox tox-tinymce"
                                    aria-disabled="false"
                                    style="visibility: hidden; height: 400px"
                                >
                                    <div class="tox-editor-container">
                                        <div
                                            data-alloy-vertical-dir="toptobottom"
                                            class="tox-editor-header"
                                        >
                                            <div
                                                role="group"
                                                class="tox-toolbar-overlord"
                                                aria-disabled="false"
                                            >
                                                <div
                                                    role="group"
                                                    class="tox-toolbar__primary"
                                                >
                                                    <div
                                                        title=""
                                                        role="toolbar"
                                                        data-alloy-tabstop="true"
                                                        tabindex="-1"
                                                        class="tox-toolbar__group"
                                                    >
                                                        <button
                                                            aria-label="Block 본문"
                                                            data-mce-name="blocks"
                                                            aria-haspopup="true"
                                                            type="button"
                                                            tabindex="-1"
                                                            unselectable="on"
                                                            class="tox-tbtn tox-tbtn--select tox-tbtn--bespoke"
                                                            aria-expanded="false"
                                                            style="
                                                                user-select: none;
                                                                width: 118px;
                                                            "
                                                        >
                                                            <span
                                                                class="tox-tbtn__select-label"
                                                                >본문</span
                                                            >
                                                            <div
                                                                class="tox-tbtn__select-chevron"
                                                            >
                                                                <svg
                                                                    width="10"
                                                                    height="10"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z"
                                                                        fill-rule="nonzero"
                                                                    ></path>
                                                                </svg>
                                                            </div></button
                                                        ><button
                                                            aria-label="Bold"
                                                            data-mce-name="bold"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M7.8 19c-.3 0-.5 0-.6-.2l-.2-.5V5.7c0-.2 0-.4.2-.5l.6-.2h5c1.5 0 2.7.3 3.5 1 .7.6 1.1 1.4 1.1 2.5a3 3 0 0 1-.6 1.9c-.4.6-1 1-1.6 1.2.4.1.9.3 1.3.6s.8.7 1 1.2c.4.4.5 1 .5 1.6 0 1.3-.4 2.3-1.3 3-.8.7-2.1 1-3.8 1H7.8Zm5-8.3c.6 0 1.2-.1 1.6-.5.4-.3.6-.7.6-1.3 0-1.1-.8-1.7-2.3-1.7H9.3v3.5h3.4Zm.5 6c.7 0 1.3-.1 1.7-.4.4-.4.6-.9.6-1.5s-.2-1-.7-1.4c-.4-.3-1-.4-2-.4H9.4v3.8h4Z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                            </span></button
                                                        ><button
                                                            aria-label="Underline"
                                                            data-mce-name="underline"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M16 5c.6 0 1 .4 1 1v5.5a4 4 0 0 1-.4 1.8l-1 1.4a5.3 5.3 0 0 1-5.5 1 5 5 0 0 1-1.6-1c-.5-.4-.8-.9-1.1-1.4a4 4 0 0 1-.4-1.8V6c0-.6.4-1 1-1s1 .4 1 1v5.5c0 .3 0 .6.2 1l.6.7a3.3 3.3 0 0 0 2.2.8 3.4 3.4 0 0 0 2.2-.8c.3-.2.4-.5.6-.8l.2-.9V6c0-.6.4-1 1-1ZM8 17h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 0 1 0-2Z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                            </span></button
                                                        ><button
                                                            aria-label="Align left"
                                                            data-mce-name="alignleft"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Zm0-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                            </span></button
                                                        ><button
                                                            aria-label="Align center"
                                                            data-mce-name="aligncenter"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm3 4h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 1 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 0 1 0-2Zm-3-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                            </span></button
                                                        ><button
                                                            aria-label="Numbered list"
                                                            data-mce-name="numlist"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M10 17h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm0-6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm0-6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 1 1 0-2ZM6 4v3.5c0 .3-.2.5-.5.5a.5.5 0 0 1-.5-.5V5h-.5a.5.5 0 0 1 0-1H6Zm-1 8.8.2.2h1.3c.3 0 .5.2.5.5s-.2.5-.5.5H4.9a1 1 0 0 1-.9-1V13c0-.4.3-.8.6-1l1.2-.4.2-.3a.2.2 0 0 0-.2-.2H4.5a.5.5 0 0 1-.5-.5c0-.3.2-.5.5-.5h1.6c.5 0 .9.4.9 1v.1c0 .4-.3.8-.6 1l-1.2.4-.2.3ZM7 17v2c0 .6-.4 1-1 1H4.5a.5.5 0 0 1 0-1h1.2c.2 0 .3-.1.3-.3 0-.2-.1-.3-.3-.3H4.4a.4.4 0 1 1 0-.8h1.3c.2 0 .3-.1.3-.3 0-.2-.1-.3-.3-.3H4.5a.5.5 0 1 1 0-1H6c.6 0 1 .4 1 1Z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                            </span></button
                                                        ><button
                                                            aria-label="Bullet list"
                                                            data-mce-name="bullist"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M11 5h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm0 6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm0 6h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2ZM4.5 6c0-.4.1-.8.4-1 .3-.4.7-.5 1.1-.5.4 0 .8.1 1 .4.4.3.5.7.5 1.1 0 .4-.1.8-.4 1-.3.4-.7.5-1.1.5-.4 0-.8-.1-1-.4-.4-.3-.5-.7-.5-1.1Zm0 6c0-.4.1-.8.4-1 .3-.4.7-.5 1.1-.5.4 0 .8.1 1 .4.4.3.5.7.5 1.1 0 .4-.1.8-.4 1-.3.4-.7.5-1.1.5-.4 0-.8-.1-1-.4-.4-.3-.5-.7-.5-1.1Zm0 6c0-.4.1-.8.4-1 .3-.4.7-.5 1.1-.5.4 0 .8.1 1 .4.4.3.5.7.5 1.1 0 .4-.1.8-.4 1-.3.4-.7.5-1.1.5-.4 0-.8-.1-1-.4-.4-.3-.5-.7-.5-1.1Z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                            </span></button
                                                        ><button
                                                            aria-label="Emojis"
                                                            data-mce-name="emoticons"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M9 11c.6 0 1-.4 1-1s-.4-1-1-1a1 1 0 0 0-1 1c0 .6.4 1 1 1Zm6 0c.6 0 1-.4 1-1s-.4-1-1-1a1 1 0 0 0-1 1c0 .6.4 1 1 1Zm-3 5.5c2.1 0 4-1.5 4.4-3.5H7.6c.5 2 2.3 3.5 4.4 3.5ZM12 4a8 8 0 1 0 0 16 8 8 0 0 0 0-16Zm0 14.5a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13Z"
                                                                        fill-rule="nonzero"
                                                                    ></path>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            aria-label="Blockquote"
                                                            data-mce-name="blockquote"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M7.5 17h.9c.4 0 .7-.2.9-.6L11 13V8c0-.6-.4-1-1-1H6a1 1 0 0 0-1 1v4c0 .6.4 1 1 1h2l-1.3 2.7a1 1 0 0 0 .8 1.3Zm8 0h.9c.4 0 .7-.2.9-.6L19 13V8c0-.6-.4-1-1-1h-4a1 1 0 0 0-1 1v4c0 .6.4 1 1 1h2l-1.3 2.7a1 1 0 0 0 .8 1.3Z"
                                                                        fill-rule="nonzero"
                                                                    ></path>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            aria-label="Horizontal line"
                                                            data-mce-name="hr"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M4 11h16v2H4z"
                                                                        fill-rule="evenodd"
                                                                    ></path>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            aria-label="Insert/edit link"
                                                            data-mce-name="link"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M6.2 12.3a1 1 0 0 1 1.4 1.4l-2 2a2 2 0 1 0 2.6 2.8l4.8-4.8a1 1 0 0 0 0-1.4 1 1 0 1 1 1.4-1.3 2.9 2.9 0 0 1 0 4L9.6 20a3.9 3.9 0 0 1-5.5-5.5l2-2Zm11.6-.6a1 1 0 0 1-1.4-1.4l2-2a2 2 0 1 0-2.6-2.8L11 10.3a1 1 0 0 0 0 1.4A1 1 0 1 1 9.6 13a2.9 2.9 0 0 1 0-4L14.4 4a3.9 3.9 0 0 1 5.5 5.5l-2 2Z"
                                                                        fill-rule="nonzero"
                                                                    ></path>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            data-mce-name="multipleimages"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="m5 15.7 3.3-3.2c.3-.3.7-.3 1 0L12 15l4.1-4c.3-.4.8-.4 1 0l2 1.9V5H5v10.7ZM5 18V19h3l2.8-2.9-2-2L5 17.9Zm14-3-2.5-2.4-6.4 6.5H19v-4ZM4 3h16c.6 0 1 .4 1 1v16c0 .6-.4 1-1 1H4a1 1 0 0 1-1-1V4c0-.6.4-1 1-1Zm6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"
                                                                        fill-rule="nonzero"
                                                                    ></path>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            aria-label="Insert/edit media"
                                                            data-mce-name="media"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <path
                                                                        d="M4 3h16c.6 0 1 .4 1 1v16c0 .6-.4 1-1 1H4a1 1 0 0 1-1-1V4c0-.6.4-1 1-1Zm1 2v14h14V5H5Zm4.8 2.6 5.6 4a.5.5 0 0 1 0 .8l-5.6 4A.5.5 0 0 1 9 16V8a.5.5 0 0 1 .8-.4Z"
                                                                        fill-rule="nonzero"
                                                                    ></path>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            data-mce-name="loud-forecolor"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <g
                                                                        fill-rule="evenodd"
                                                                    >
                                                                        <path
                                                                            id="tox-icon-text-color__color"
                                                                            d="M3 18h18v3H3z"
                                                                            fill="#2656F6"
                                                                        ></path>
                                                                        <path
                                                                            d="M8.7 16h-.8a.5.5 0 0 1-.5-.6l2.7-9c.1-.3.3-.4.5-.4h2.8c.2 0 .4.1.5.4l2.7 9a.5.5 0 0 1-.5.6h-.8a.5.5 0 0 1-.4-.4l-.7-2.2c0-.3-.3-.4-.5-.4h-3.4c-.2 0-.4.1-.5.4l-.7 2.2c0 .3-.2.4-.4.4Zm2.6-7.6-.6 2a.5.5 0 0 0 .5.6h1.6a.5.5 0 0 0 .5-.6l-.6-2c0-.3-.3-.4-.5-.4h-.4c-.2 0-.4.1-.5.4Z"
                                                                        ></path>
                                                                    </g>
                                                                </svg>
                                                                ></span
                                                            ></button
                                                        ><button
                                                            data-mce-name="loud-backcolor"
                                                            type="button"
                                                            tabindex="-1"
                                                            class="tox-tbtn"
                                                            aria-disabled="false"
                                                            aria-pressed="false"
                                                            style="width: 34px"
                                                        >
                                                            <span
                                                                class="tox-icon tox-tbtn__icon-wrap"
                                                                ><svg
                                                                    width="24"
                                                                    height="24"
                                                                    focusable="false"
                                                                >
                                                                    <g
                                                                        fill-rule="evenodd"
                                                                    >
                                                                        <path
                                                                            id="tox-icon-highlight-bg-color__color"
                                                                            d="M3 18h18v3H3z"
                                                                            fill="#F5F8FF"
                                                                        ></path>
                                                                        <path
                                                                            fill-rule="nonzero"
                                                                            d="M7.7 16.7H3l3.3-3.3-.7-.8L10.2 8l4 4.1-4 4.2c-.2.2-.6.2-.8 0l-.6-.7-1.1 1.1zm5-7.5L11 7.4l3-2.9a2 2 0 0 1 2.6 0L18 6c.7.7.7 2 0 2.7l-2.9 2.9-1.8-1.8-.5-.6"
                                                                        ></path>
                                                                    </g>
                                                                </svg>
                                                                ></span
                                                            >
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tox-anchorbar"></div>
                                        </div>
                                        <div class="tox-sidebar-wrap">
                                            <div class="tox-edit-area">
                                                <iframe
                                                    id="briefing_ifr"
                                                    frameborder="0"
                                                    allowtransparency="true"
                                                    title="Rich Text Area"
                                                    class="tox-edit-area__iframe"
                                                    srcdoc='<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></head><body id="tinymce" class="mce-content-body " data-id="briefing" aria-label="Rich Text Area. Press ALT-0 for help."><br></body></html>'
                                                ></iframe>
                                            </div>
                                            <div
                                                role="presentation"
                                                class="tox-sidebar"
                                            >
                                                <div
                                                    data-alloy-tabstop="true"
                                                    tabindex="-1"
                                                    class="tox-sidebar__slider tox-sidebar--sliding-closed"
                                                    style="width: 0px"
                                                >
                                                    <div
                                                        class="tox-sidebar__pane-container"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tox-bottom-anchorbar"></div>
                                    </div>
                                    <div
                                        aria-hidden="true"
                                        class="tox-view-wrap"
                                        style="display: none"
                                    >
                                        <div
                                            class="tox-view-wrap__slot-container"
                                        ></div>
                                    </div>
                                    <div
                                        aria-hidden="true"
                                        class="tox-throbber"
                                        style="display: none"
                                    ></div>
                                </div>
                                <input
                                    id="multipulfile-briefing"
                                    type="file"
                                    multiple=""
                                    accept="image/jpeg, image/jpg, image/png, image/webp"
                                    hidden=""
                                />
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
