.klFTFP {
    display: flex;
    height: 100%;
}
.fhkKgU {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(219, 222, 226);
}
.lzKzG.form {
    min-width: 760px;
    max-width: 824px;
    padding: 40px 32px;
}
.fhkKgU > main,
.fhkKgU > menu.sub-tab {
    margin: 0px auto;
    width: 1280px;
    height: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}
body {
    color: #101c33;
    font-size: 14px;
}
body,
html {
    background-color: #fff;
    font: 12px / 18px "Noto Sans KR", NanumGothic, "나눔고딕", "Nanum Gothic",
        "맑은 고딕", "Malgun Gothic", Dotum;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    text-align: left;
    width: 100%;
}
.gpWIaL:first-child {
    margin-top: 0px;
}
.gpWIaL {
    display: none;
    width: 100vw;
    height: 10px;
    background-color: rgb(245, 246, 247);
    margin-left: -16px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.gfAOyb {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin-bottom: 40px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-size: inherit;
}
.cZSwOu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(249, 250, 251);
    border-radius: 8px;
    padding: 24px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 500;
}
.cZSwOu .option {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cZSwOu .option {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.cZSwOu .option p span.blue {
    color: rgb(38, 86, 246);
}
.gpWIaL {
    display: none;
    width: 100vw;
    height: 10px;
    background-color: rgb(245, 246, 247);
    margin-left: -16px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.dmYlDC:not(:first-child) {
    margin: 40px 0px;
}
.dmYlDC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.dmYlDC > .header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.dmYlDC .option {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.fszQRO {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid rgb(219, 222, 226);
    padding: 11px 18px;
}
.fszQRO input {
    width: 100%;
    outline-style: none;
    border: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 400;
    background-color: transparent;
}
.fszQRO .max-length {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 400;
    padding-left: 8px;
    color: rgb(219, 222, 226);
}
.bykfrb {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.25px;
    font-weight: 400;
    padding-left: 16px;
    text-indent: -16px;
    color: rgb(111, 119, 133);
}
p {
    font-family: inherit;
    margin-bottom: 0;
}
.bykfrb .status-icon {
    vertical-align: middle;
    margin-right: 4px;
}
.bykfrb svg {
    color: rgb(170, 177, 188);
}
.iFpvod {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
}
input,
select {
    vertical-align: middle;
}
.fYYKPN {
    display: flex;
    -webkit-box-align: start;
    align-items: start;
    flex-direction: row;
}
.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.header h4.label {
    width: 188px;
    padding-bottom: 2px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.5px;
    font-weight: 500;
}
.header h4.label.required::after {
    margin-left: 2px;
    color: rgb(242, 23, 36);
    content: "*";
}
.hgCABm {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(219, 222, 226);
    padding: 11px 18px;
}
.hgCABm textarea {
    min-height: 60px;
}
.hgCABm textarea {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.25px;
    font-weight: 400;
    outline-style: none;
    border: none;
    background-color: transparent;
    resize: vertical;
}
.fYYKPN .option {
    flex-grow: 1;
}
.ftfcRP > .header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}
.fYYKPN:not(:first-child) {
    margin: 40px 0px;
}
.tox:not([dir="rtl"]) {
    direction: ltr;
    text-align: left;
}
.kpdMUe .tox-tinymce {
    border: 1px solid rgb(219, 222, 226);
    border-radius: 5px;
}
.tox-tinymce {
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow: hidden;
    position: relative;
    visibility: inherit !important;
}
.ftfcRP:not(:first-child) {
    margin: 40px 0px;
}
#briefing {
    padding: 16px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;

    transition: box-shadow 0.5s;
}
